<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>{{if .Page.Title}}{{.Page.Title}}{{else}}{{.AppTitle}}{{end}}</title>

  <script src="https://kit.fontawesome.com/d9ab24eaaa.js" crossorigin="anonymous"></script>

  <!-- Dropzone File Uploading -->
  <link href="/assets/css/dropzone.min.css" rel="stylesheet">
  
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"-->
  <link rel="stylesheet" href="/assets/css/lightbox.min.css">
  <link rel="stylesheet" href="/assets/css/dulcet.style.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/dashboard.css">
</head>
<body class="">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#locguide-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{.AppTitle}}</a>
    </div>
    <div class="collapse navbar-collapse" id="locguide-navbar-collapse-1">
      <p class="navbar-text">Welcome, {{if .AuthGivenName}}{{printf "%s" .AuthGivenName}}{{else}}Not Signed In{{end}}</p>
      <ul class="nav navbar-nav navbar-right">
        <li data-route="collectiongroups"><a href="/collectiongroups" disabled="disabled">Collection Groups</a></li>
        <li data-route="locationmaps"><a href="/locationmaps" disabled="disabled">Locations</a></li>
        <li data-route="externallinks"><a href="/externallinks">External Links</a></li>
        <li data-route="areamaps"><a href="/areamaps">Area Maps</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Collections</a></li>
            <li><a href="#">Upload Map</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">About</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="{{.UI.CSS.ContainerClass}}">
  <div class="row">
    <div class="h2 col-sm-7">
      <div class="btn-toolbar">
        <a role="button" href="/" class="btn btn-success btn-sm">
          <i class="fa fa-home"></i>&nbsp;Home</a>
        <div class="btn-group">
          <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Create New...&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="/collections/new">Collection</a></li>
            <li><a href="/collectiongroups/new">Collection Group</a></li>
            <li><a href="/externallinks/new">External Link</a></li>
            <li><a href="/genericmessages/new">Generic Message</a></li>
            <li><a href="/locationmaps/new">Location Map</a></li>
          </ul>
        </div>
        <!--
        <% IF vars.nav_context_buildings.size %>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Switch Libraries...&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <% FOR b in vars.nav_context_buildings %>
            <li><a href='<% request.uri_for( "/locationmaps/${b}" ) %>'><% b %></a></li>
          <% END %>
          </ul>
        </div>
        <% END %>
        -->
        <a href="#" data-toggle="modal" class="btn btn-sm btn-primary disabled" data-dataset-url="/areamap/new" data-objecttype="areamap">
          <span class="glyphicon glyphicon-upload"></span>&nbsp;Upload Map Image
        </a>
      </div>      
    </div>
    <div class="h2 col-sm-5">
      <div class="input-group input-group-sm">
        <input type="text" data-provide="typeahead" autocomplete="off" class="form-control search-typeahead input-sm" placeholder="Search for Sublibraries, Collection Groups or Collections...">
        <div class="input-group-btn">
          <button type="button" class="btn btn-info btn-sm">Recent...</button>
          <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
          <!--
            <% IF vars.auth_user && vars.auth_user.admin_logs %>
            <% FOREACH rlog IN vars.auth_user.admin_logs.reverse.slice(0,9) %>
            <li><a href="<% request.uri_for("${rlog.content_type.model}/${rlog.object_id}") %>"><% rlog.object_repr %></a></li>
            <% END %>
            <% ELSE %>
            <li class="disabled"><a href="#">No History Yet</a></li>
            <% END %>
          -->
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{- /* TODO add logic for specific page title */ -}}
<div class="{{.UI.CSS.ContainerClass}}">
  <div class="row">
    <div class="col-sm-12 h2">{{.Page.Title}}</div>
  </div>
</div>

{{if gt (len .success_message) 0}}
<div class="{{.UI.CSS.ContainerClass}}">
	<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <div><strong>Success</strong></div>
    <p>{{.success_message}}</p>
	</div>
</div>
{{end}}

<div class="{{.UI.CSS.ContainerClass}}" id="contents">
{{if .Pager}}{{printf "%s" .Pager}}{{end}}
{{printf "%s" .Page.Body}}
{{if .Pager}}{{printf "%s" .Pager}}{{end}}
</div>

<footer>
  <div class="{{.UI.CSS.ContainerClass}}">

  </div>
</footer>

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="/assets/js/jquery.js"><\/script>')
/* ]]> */</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/dulcet.script.js"></script>
<script src="/assets/js/bootstrap3-typeahead.min.js"></script>
<script src="/assets/js/dropzone.min.js"></script>
<script src="/assets/js/dashboard.js"></script>

</body>
</html>
