  <div class="row">
    <div class="col-md-12">
      <div class="row context-buttons">
        <div class="col-xs-2">
          <a class="btn btn-sm btn-primary" href="/areamaps/new">New Floor / Area Map</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid-sizer col-xs-3"></div>

    {{range $a := .AreaMaps}}
    <div class="grid-item col-xs-3">      
      <div class="grid-item-content">
        <div class="thumbnail">
          <form class="dropzone" action='/upload-areamap/{{$a.ID}}") %>' id="map-dropzone-{{$a.ID}}">
          {{if .Image}}
          <a href="/assets/images/media/{{$a.Image}}" data-lightbox="{{$a.Image}}" data-title="{{$a.Building}} / {{$a.Area}}">
            <img src="/assets/images/media/{{$a.Image}}" alt="{{$a.Area}}"/>
          </a>
          {{else}}
          <img src="<% settings.ui.placeholder_image %>"/>
          {{end}}
          <div class="caption">
            <p><strong>{{$a.Building}}</strong> / {{$a.Area}}</p>
            <p><a href="/areamaps/{{$a.ID}}" class="btn btn-sm btn-primary" role="button">Edit</a></p>
          </div>
          <div class="dz-message"></div>
          </form>
        </div>
      </div>
    </div>
    {{end}}
  </div>

