	<form class="form-horizontal" method="POST" enctype="multipart/form-data">
		<div class="row">
		  <div class="col-xs-3">
		  	<label class="control-label" for="selAreaMap">Building</label>
		    <select class="form-control" id="selAreaMap" name="building">
					{{$activeBuilding := .AreaMap.Building}}
		    	<option value="">-- SELECT BUILDING --</option>
					{{range $b := .Buildings}}
					<option value="{{$b.Building}}"{{if eq $b.Building $activeBuilding}} selected="selected"{{end}}>{{$b.Building}}</option>
					{{end}}
		    </select>
		  </div>
		  <div class="col-xs-3">
		  	<label class="control-label" for="txtArea">Area</label>
				<input type="text" class="form-control" placeholder="" id="txtArea" name="area" value="{{.AreaMap.Area}}">
		    <span class="help-block">What floor within the building (e.g. "Floor 1")</span>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-6">
		  	<div class="media">
		  		<div class="media-left">
						{{if .AreaMap.Image}}
						<a href="/assets/images/media/{{.AreaMap.Image}}" data-lightbox="{{.AreaMap.Area}}" data-title="{{.AreaMap.Building}} / {{.AreaMap.Area}}"><img width="150" class="media-object" src="/assets/images/media/{{.AreaMap.Image}}" alt="{{.AreaMap.Area}}"/></a>
		  			<div class="help-block small"><em>Click to enlarge</em></div>
						{{else}}
						<img width="150" class="media-object" src="{{.PlaceholderImage}}"/>
						{{end}}
					</div>
					<div class="media-body">
		  			<label class="control-label" for="txtCallNumberRange">Map Image</label>
		    		<input type="file" name="areamap_image">
		    		<br />
		    		<div class="small">
		    			<strong><i class="fas fa-question-circle"></i>&nbsp;Need Help with Map</strong>
		    			<p class="small">If you feel more comfortable sending a map image (or PDF) via email, forward it to:<br \>
		    				<span class="text-info">library-system-administration@duke.edu</span>
		    			</p>
						</div>
					</div>
				</div>
		  </div>
		</div>
		{{printf "%s" .FormButtons}}
	</form>
