<table class="table table-hover">
	<thead>
	<tr>
		<th>ID</a></th>
		<th>Description</th>
		<th>Sublibrary</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
		{{if len .}}
		{{range .}}
		<tr class="collectiongroup-record" data-collectiongroup-id="{{.ID}}">
			<td><a href="/collectiongroups/{{.ID}}">{{.ID}}</a></td>
			<td>{{.Description}}</td>
			<td>{{if .Sublibrary}}{{.Sublibrary.Code}}{{else}}&ndash;{{end}}</td>
			<td>
				<a href="/collectiongroups/{{.ID}}" title="Edit Collection Group" aria-label="Edit Collection Group"><i class="fas fa-edit"></i></a>
				<a href="/collectiongroups/delete/{{ .ID }}" title="Delete Collection Group" aria-label="Delete Collection Group"><i class="fas fa-trash"></i></a>
			</td>
		</tr>
		{{end}}
		{{else}}
		<tr>
			<td colspan="9" class='text-center'>No Collection Groups exist. <a href="/collectiongroups/new">Create One</a> to get started.</td>
		</tr>
		{{end}}
	</tbody>
</table>
