<table class="table table-hover table-striped small">
	<thead>
	<tr>
		<th>ID</th>
		<th>Code</th>
		<th>Label</th>
		<th>Sublibrary</th>
		<th>Collection<br />Group</th>
		<th width="70">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
		{{ if len .}}
		{{range .}}
		<tr class="collection-record">
			<td><a href="/collections/{{.ID}}">{{.ID}}</a></td>
			<td>{{.Code}}</td>
			<td>{{.Label}}</td>
			<td>
				{{if .Sublibrary}}
				<a href='/sublibraries/{{.Sublibrary.ID}}'>{{.Sublibrary.Code}} / {{.Sublibrary.Label}}</a>
				{{else}}
				&ndash;
				{{end}}
			</td>
			<td>{{/*if .CollectionGroup.ID}}{{.CollectionGroup.Description}}{{else}}&ndash;{{end*/}}</td>
			<td>
				<a href="/collections/{{.ID}}" title="Edit Collection" aria-label="Edit Collection"><i class="fas fa-edit"></i></a>
				<a href="/collections/delete/{{ .ID }}" title="Delete Collection" aria-label="Delete Collection"><i class="fas fa-trash"></i></a>
			</td>
		</tr>
		{{end}}
		{{else}}
		<tr>
			<td colspan="9" class='text-center'>No Collections exist. <a href="/collections/new">Create One</a> to get started.</td>
		</tr>
		{{end}}
	</tbody>
</table>
