{{$ActiveSublibrary := .Sublibrary}}
<form class="form-horizontal" method="POST">
	<div class="row">
		<div class="col-xs-4">
			<label class="control-label" for="selSublibrary">Sublibrary</label>
			<select class="form-control" id="selSublibrary" name="sublibrary_id">
				<option value="">-- SELECT SUBLIBRARY --</option>
				{{range .Sublibraries}}
				<option value="{{.ID}}"{{if $ActiveSublibrary}}{{if eq $ActiveSublibrary.ID .ID}} selected="selected"{{end}}{{end}}>{{.Code}}: {{.Label}}></option>
				{{end}}
			</select>
		</div>
		<div class="col-xs-6">
			<label class="control-label" for="txtDescription">Description</label>
			<input type="text" class="form-control" placeholder="Collection Group Description" id="txtDescription" name="description" value="{{.Description}}">
		</div>
	</div>
	{{ printf "%s" .FormButtons}}
</form>

