<table class="small table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-right">ID</th>
			<th>URL</th>
			<th>Link Text</th>
			<th>Title</th>
			<th>Generic Message</th>
			<th width="50">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{{if len .}}
	{{range .}}
	<tr>
		<td class="text-right"><a href="/externallinks/{{ .ID }}">{{ .ID }}</a></td>
		<td>{{ .Url }}</td>
		<td>{{ .LinkText }}</td>
		<td>{{ .Title }} </td>
		<td>{{ .GenericMessage.Content }}</td>
		<td>
			<a href="/externallinks/{{ .ID }}" title="Edit External Link" aria-label="Edit External Link"><i class="fas fa-edit"></i></a>
			<a href="/externallinks/delete/{{ .ID }}" class="delete-trigger" title="Delete External Link" aria-label="Delete External Link"><i class="fas fa-trash"></i></a>
		</td>
	</tr>
	{{end}}
	{{else}}
	<tr>
		<td colspan="9" class='text-center'>No External Links exist. <a href="/externallinks/new">Create One</a> to get started.</td>
	</tr>
	{{end}}
	</tbody>
</table>

{{printf "%s" .DeleteModal}}

