<div class="row">
	<div class="h2 col-sm-12">Edit External Link</div>
</div>
<form method="POST">
	<div class="form-group">
		<label for="extLinkUrl">URL</label>
		<input type="text" id="extLinkUrl" name="url" value="{{ .ExternalLink.URL }}" class="form-control" placeholder="Enter Link URL"/>
	</div>
	<div class="form-group">
		<label for="extLinkTitle">Title</label>
		<input type="text" id="extLinkTitle" name="title" value="{{ .ExternalLink.Title }}" class="form-control" placeholder="Enter Link Title"/>
	</div>
	<div class="form-group">
		<label for="extLinkLinkText">Link Text</label>
		<input type="text" id="extLinkLinkText" name="link_text" value="{{ .ExternalLink.LinkText }}" class="form-control" placeholder="Enter Link Text"/>
	</div>
	<div class="form-group">
		<label for="extLinkGenericMessage">Generic Message</label>
		<select class="form-control">
			<option value="">--- SELECT Generic Message ---</option>
		{{ range .GenericMessages.Entities }}
			{{ if $.ExternalLink.GenericMessageId.Valid }}
				{{ if eq $.ExternalLink.GenericMessageId.Value .Id }}
					<option value="{{ .Id }}" selected>{{ .Label }}</option>
				{{ else }}
					<option value="{{ .Id }}">{{ .Label }}</option>
				{{ end }}
			{{ else }}
				<option value="{{ .Id }}">{{ .Label }}</option>
			{{ end }}
		{{ end }}
		</select>
	</div>
	<div class="form-group">
		<label for="extLinkContent">Content</label>
		<textarea class="form-control" rows="4" id="extLinkContent" name="content">{{ .ExternalLink.Content }}</textarea>
	</div>
	<input type="hidden" name="id" value="{{ .ExternalLink.GetId }}" />
	<button type="submit" class="btn btn-primary">Save Changes</button>&nbsp;
	<a href="/external-link" class="btn btn-default">Go Back</a>
</form>