{{$ActiveGenericMessage := .ExternaLink.GenericMessage}}
<form class="form-horizontal" method="POST">
  <div class="row">
    <div class="col-xs-5">
      <label class="control-label" for="txtTitle">Link Title</label>
      <input type="text" class="form-control" placeholder="External Link Title" id="txtTitle" name="title" value="{{ .ExternalLink.Title }}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <label class="control-label" for="txtURL">URL</label>
      <input type="text" class="form-control" placeholder="External Link URL (https://...)" id="txtURL" name="url" value="{{ .ExternalLink.Url }}">
    </div>
    <div class="col-xs-6">
      <label class="control-label" for="txtLinkText">Link Text</label>
      <input type="text" class="form-control" placeholder="" id="txtLinkText" name="link_text" value="{{ .ExternalLink.LinkText }}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <label class="control-label" for="selGenericMessage">Generic Message</label>
      <select class="form-control" id="selGenericMessage" name="generic_msg_id">
        <option value="">-- SELECT GENERIC MESSAGE --</option>
        {{range .GenericMessages}}
        <% FOR m IN genericmessages %>
        <option value="{{.ID}}"{{if ne $ActiveGenericMessage.ID nil}}{{if eq .ID $ActiveGenericMessage.ID}} selected="selected"{{end}}{{end}}>{{.Label}}</option>
        {{end}}
      </select>
      <div>
        <span class="help-block"><strong><em>NOTE: </em></strong>Select a "Generic Message" here, OR enter your message content below.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label class="control-label" for="txtContent">Content</label>
      <textarea id="txtContent" class="form-control" rows="5" name="content">{{ .ExternalLink.Content }}</textarea>
    </div>
  </div>
  <input type="hidden" id="primarykey" name="id" value="{{ .ExternalLink.ID }}">
  {{printf "%s" .FormButtons}}
</form>
