		<div class="container">
			<div class="form-buttons">
				<button class="btn btn-primary" type="submit">Save Changes</button>
				{{if .Entity.ID}}<a class="btn btn-warning" href="/delete"><i class="fas fa-trash"></i>&nbsp;Delete</a>{{end}}
				<a class="btn btn-default" href="{{printf "%s" .ReturnPath}}">Cancel and Go Back</a>
				<a class="btn btn-default" href="/"><i class="fas fa-columns"></i>&nbsp;Dashboard</a>
			</div>
		</div>


