<div class="row">
	<div class="h2 col-sm-12">Generic Messages</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th class="text-right">ID</th>
			<th>Label</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
	{{range .}}
	<tr>
		<td class="text-right"><a href="/generic-msg/edit/{{ .Id }}">{{ .Id }}</a></td>
		<td>{{ .Label }} </td>
		<td>{{ .Content }}</td>
	</tr>
	{{end}}
	</tbody>
</table>
