<table class="small table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-right">ID</th>
			<th>Label</th>
			<th>Content</th>
			<th width="50">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{{if len .GenericMessages}}
	{{range .GenericMessages}}
	<tr>
		<td class="text-right"><a href="/genericmessages/{{ .ID }}">{{ .ID }}</a></td>
		<td>{{ .Label }}</td>
		<td>{{ .Content }}
		<td>
			<a href="/genericmessages/{{ .ID }}" title="Edit Generic Message" aria-label="Edit Generic Message"><i class="fas fa-edit"></i></a>
			<a href="/genericmessages/delete/{{ .ID }}" title="Delete Generic Message" class="delete-trigger" aria-label="Delete Generic Message"><i class="fas fa-trash"></i></a>
		</td>
	</tr>
	{{end}}
	{{else}}
	<tr>
		<td colspan="9" class='text-center'>No Generic Messages exist. <a href="/genericmessages/new">Create One</a> to get started.</td>
	</tr>
	{{end}}
	</tbody>
</table>
{{printf "%s" .DeleteModal}}
