<form class="form-horizontal" method="POST">
  <div class="row">
    <div class="col-xs-4">
      <label class="control-label" for="txtURL">Label</label>
      <input type="text" class="form-control" placeholder="Generic Message Label" id="txtLabel" name="label" value="{{ .GenericMessage.Label }}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label class="control-label" for="txtContent">Content</label>
      <textarea id="txtContent" class="form-control" rows="5" name="content">{{ .GenericMessage.Content }}</textarea>
    </div>
  </div>
  <input type="hidden" id="primarykey" name="id" value="{{ .GenericMessage.ID }}" />
  {{printf "%s" .FormButtons}}
</form>
