<div class="row">
	<div class="h2 col-sm-12">Edit Generic Message</div>
</div>
<form method="POST">
	<div class="form-group">
		<label for="genMesgLabel">Label</label>
		<input type="text" id="genMesgLabel" name="label" value="{{ .Label }}" class="form-control" placeholder="Enter Display Label"/>
	</div>
	<div class="form-group">
		<label for="genMesgContent">Content</label>
		<textarea class="form-control" rows="4" id="genMesgContent" name="content">{{ .Content }}</textarea>
	</div>
	<input type="hidden" name="id" value="{{ .GetId }}" />
	<button type="submit" class="btn btn-default">Save Changes</button>
</form>