<table class="small table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-right">ID</th>
			<th>Building</th>
			<th>Floor</th>
			<th>External Link</th>
			<th>Call No.<br />Range</th>
			<th>Call No.<br />Start</th>
			<th>Call No.<br />End</th>
			<th>Collection</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{{if len .LocationMaps}}
	{{range .LocationMaps}}
	<tr>
		<td class="text-right"><a href="/locationmaps/{{.ID}}">{{.ID}}</a></td>
		<td>{{.AreaMap.Building}}</td>
		<td>{{.AreaMap.Area}}</td>
		<td>{{.ExternalLink.Title}} </td>
		<td>{{.CallNumberRange}}</td>
		<td>{{.CallNumberStart}}</td>
		<td>{{.CallNumberEnd}}</td>
		<td>{{.CollectionGroup.Description}}</td>
		<td>
			<a href="/locationmaps/{{ .ID }}" title="Edit Location" aria-label="Edit Location"><i class="fas fa-edit"></i></a>
		</td>
	</tr>
	{{end}}
	{{else}}
	<tr>
		<td colspan="9" class='text-center'>No Location Maps exist. <a href="/locationmaps/new">Create One</a> to get started.</td>
	</tr>
	{{end}}
	</tbody>
</table>
	
