		{{$SplitLMap := .SplitLMap}}
		<div class="row">
			<div class="h4 col-xs-12">Location Map Split Record</div>
		  <div class="col-xs-2">
		  	<label class="control-label" for="txtSCallNumberRange">Call Number Range</label>
		    <input type="text" class="form-control" placeholder="" id="txtSCallNumberRange" name="split_call_number_range" value="{{.SplitLMap.CallNumberRange}}">
		  </div>
		  <div class="col-xs-2">
		  	<label class="control-label" for="txtSCallNumberStart">Call Number Start</label>
		    <input type="text" class="form-control" placeholder="" id="txtSCallNumberStart" name="split_call_number_start" value="{{.SplitLMap.CallNumberStart}}">
		  </div>
		  <div class="col-xs-2">
		  	<label class="control-label" for="txtSCallNumberEnd">Call Number End</label>
		    <input type="text" class="form-control" placeholder="" id="txtSCallNumberEnd" name="split_call_number_end" value="{{.SplitLMap.CallNumberEnd}}">
		  </div>
		  <div class="col-xs-3">
		  	<label class="control-label" for="selSAreaMap">Floor / Areamap</label>
		    <select class="form-control" id="selSAreaMap" name="split_map_id">
		    	<option value="">-- SELECT AREA MAP --</option>
          {{range .AreaMaps}}
          <option value="{{.ID}}"{{if eq .ID $SplitLMap.AreaMap.ID}} selected="selected"{{end}}>{{.Building}}: {{.Area}}</option>
          {{end}}
		    </select>
		  </div>
		  <div class="col-xs-3">
		  	<label class="control-label" for="selSExternalLink">External Link</label>
		    <select class="form-control" id="selSExternalLink" name="split_external_link_id">
		    	<option value="">-- SELECT EXTERNAL LINK --</option>
          {{range .ExternalLinks}}
          <option value="{{.ID}}"{{if eq $SplitLMap.ExternalLink.ID .ID}} selected="selected"{{end}}>{{.Title}}</option>
          {{end}}
		    </select>
		  </div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label class="control-label" for="selSCollectionGroup">Collection Group</label>
		    <select class="form-control" id="selSCollectionGroup" name="split_collection_group_id">
		    	<option value="">-- SELECT COLLECTION GROUP --</option>
          {{range .CollectionGroups}}
					<option value="{{.ID}}"{{if eq $SplitLMap.CollectionGroup.ID .ID}} selected="selected"{{end}}>{{.Sublibrary.Label}}{{if len .Description}}: {{.Description}}{{end}}</option>
          {{end}}
		    </select>
			</div>
			<div class="col-xs-4">
				<label class="control-label" for="selDisplayWeight">Display Weight</label>
		    <select class="form-control" id="selDisplayWeight" name="split_call_number_priority">
					{{range .Priority}}
		    	<option value="{{.}}"{{if eq . $SplitLMap.CallNumberPriority}} selected="selected"{{end}}>{{.}}</option>
					{{end}}
		    </select>
		    <span class="help-block">Use this to order similar call number ranges. Smaller values will be located first in the Public UI.</span>
			</div>
		</div>
		<input type="hidden" name="split_range" value="1"/>

