	{{$ActiveAreaMap := .LocationMap.AreaMap}}
	{{$ActiveExternalLink := .LocationMap.ExternalLink}}
	{{$ActiveCollGroup := .LocationMap.CollectionGroup}}
	{{$LocationMap := .LocationMap}}
	<div class="row">
		  <div class="col-xs-2">
		  	<label class="control-label" for="txtCallNumberRange">Call Number Range</label>
        <input type="text" class="form-control" placeholder="" id="txtCallNumberRange" name="call_number_range" value="{{.LocationMap.CallNumberRange}}">
		  </div>
		  <div class="col-xs-2">
		  	<label class="control-label" for="txtCallNumberStart">Call Number Start</label>
        <input type="text" class="form-control" placeholder="" id="txtCallNumberStart" name="call_number_start" value="{{.LocationMap.CallNumberStart}}">
		  </div>
		  <div class="col-xs-2">
		  	<label class="control-label" for="txtCallNumberEnd">Call Number End</label>
        <input type="text" class="form-control" placeholder="" id="txtCallNumberEnd" name="call_number_end" value="{{.LocationMap.CallNumberEnd}}">
		  </div>
		  <div class="col-xs-3">
		  	<label class="control-label" for="selAreaMap">Floor / Areamap</label>
		    <select class="form-control" id="selAreaMap" name="map_id">
		    	<option value="">-- SELECT AREA MAP --</option>
          {{range .AreaMaps}}
					<option value="{{.ID}}"{{if eq $ActiveAreaMap.ID .ID}} selected="selected"{{end}}>{{.Building}}: {{.Area}}</option>
          {{end}}
		    </select>
		  </div>
		  <div class="col-xs-3">
		  	<label class="control-label" for="selExternalLink">External Link</label>
		    <select class="form-control" id="selExternalLink" name="external_link_id">
		    	<option value="">-- SELECT EXTERNAL LINK --</option>
					{{range .ExternalLinks}}
					<option value="{{.ID}}"{{if eq .ID $ActiveExternalLink.ID}} selected="selected"{{end}}>{{.Title}}</option>
					{{end}}
		    <% END %>
		    </select>
		  </div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label class="control-label" for="selCollectionGroup">Collection Group</label>
		    <select class="form-control" id="selCollectionGroup" name="collection_group_id">
		    	<option value="">-- SELECT COLLECTION GROUP --</option>
					{{range .CollectionGroups}}
					<option value="{{.ID}}"{{if eq .ID $ActiveCollGroup.ID}} selected="selected"{{end}}>{{.Sublibrary.Label}}{{if len .Description}}: {{.Description}}{{end}}</option>
					{{end}}
		    </select>
			</div>
			<div class="col-xs-4">
				<label class="control-label" for="selDisplayWeight">Display Weight</label>
		    <select class="form-control" id="selDisplayWeight" name="call_number_priority">
					{{range .Priority}}
					<option value="{{.}}"{{if eq . $LocationMap.CallNumberPriority}} selected="selected"{{end}}>{{.}}</option>
					{{end}}
		    </select>
		    <div>
		    	<span class="help-block">Use this to order similar call number ranges. Smaller values will be located first in the Public UI.</span>
		    </div>
			</div>
		</div>
		<input type="hidden" name="id" value="{{.LocationMap.ID}}"/>

