<div class="<% settings.ui.container_class %>">
	<form class="form-horizontal" method="POST">
		<div class="row context-buttons">
			<div class="col-xs-2">
				<a class="btn btn-sm btn-info"{{if or (.splitLocationMap) (not .LocationMap.ID) (.DisableSplitBtn)}} disabled="disabled"{{end}} href="{{.CurrentPath}}?start-callno-split=1">Split Call Number Range</a>
			</div>
		</div>
		{{if eq .LocationMap.ID 0}}
		<p class="bg-warning"><div class="text-warning">Before creating a new Location Map for a Call Number or Collection, please make sure one doesn't already exist.</div></p>
		{{end}}
		{{printf "%s" .PrimaryForm}}

		{{if .SplitLMap}}
		<hr />
		{{printf "%s" .SecondaryForm}}
		{{end}}
		{{printf "%s" .FormButtons}}
	</form>
</div>

