<% IF pager.defined %>
<nav aria-label="Page navigation">
	<ul class="pagination">
		<li class="<% IF pager.current_page == 1 %>disabled<% END %>"><a aria-label="Previous" href="<% pager.working_url %>?p=<% pager.previous_page %>"><span aria-hidden="true">&laquo;</span></a></li>
		<li class="<% IF pager.current_page == 1 %>disabled<% END %>"><a aria-label="First" href="<% pager.working_url %>?p=1"><span aria-hidden="true">First</span></a></li>
	<% IF pager.page_begin != 1 %>
		<li><a aria-label="First Page" href="<% pager.working_url %>?p=1"><span aria-hidden="true"><% pager.first_page %></span></a></li>
		<li><a aria-label="Previous Chapter" href="<% pager.working_url %>?p=<% pager.page_begin - 1 %>"><span aria-hidden="true">&hellip;</span></a></li>
	<% END %>
	<% FOREACH p IN [ pager.page_begin .. pager.page_end ] %>
		<% IF p == pager.current_page %>
		<li class="active"><span><% p %> <span class="sr-only">(current)</span></span></li>
		<% ELSE %>
		<li><a href="<% pager.working_url %>?p=<% p %>"><% p %> <span class="sr-only">Page <% p %></span></a></li>
		<% END %>
	<% END %>
	<% IF pager.last_page > pager.page_end %>
		<li><a aria-label="Next Chapter" href="<% pager.working_url %>?p=<% pager.page_end + 1 %>"><span aria-hidden="true">&hellip;</span></a></li>
		<li><a aria-label="Last Page" href="<% pager.working_url %>?p=<% pager.last_page %>"><span aria-hidden="true"><% pager.last_page %></span></a></li>
	<% END %>
		<li class="<% IF pager.last_page == pager.current_page %>disabled<% END %>"><a aria-label="Last" href="<% pager.working_url %>?p=<% pager.last_page %>"><span aria-hidden="true">Last</span></a></li>
		<li class="<% IF pager.next_page == pager.current_page %>disabled<% END %>"><a aria-label="Next" href="<% pager.working_url %>?p=<% pager.next_page %>"><span aria-hidden="true">&raquo;</span></a></li>
	</ul>
</nav>
<% END %>

