	<div class="row">
		<div class="col-sm-8">
			<div class="row">		
				<div class="col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<div class="h3">Collection Codes</div>
							<p><strong>Start here</strong> if you know the collection code(s) you want to work with (e.g. "PK").</p>
							<p><a class="btn btn-block btn-primary" href="/collections" id="dashCollCodeTrigger">Start With Collection Code(s)</a></p>
							<p>Or, enter a collection code (e.g. PK) and let the system find it for you...</p>
							<p><input type="text" data-provide="typeahead" autocomplete="off" class="form-control search-typeahead" id="dashCollCodeSearch" name="collcode_q" placeholder="Code (like 'PK')" /></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<div class="h3">Call Numbers / Locations</div>
							<p><strong>Start here</strong> if you have a call number range to work with (e.g. NA-NX).</p>
							<p><a class="btn btn-block btn-primary" href="/locationmaps" id="dashCallNumTrigger">Start With Call Number(s)</a></p>
							<p>Or, enter a call number range and let the system find it for you...</p>
							<p><input type="text" data-provide="typeahead" autocomplete="off" class="form-control callno-typeahead" id="dashCallNumberSearch" name="callno_q" placeholder="Call # Range (like 'NA-NX')" /></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<div class="h3">Floors / Area Maps</div>
							<p><strong>Start here</strong> if you know the floor you wish to start with (e.g. Bostock - Lower Level).</p>
							<p><a class="btn btn-block btn-primary" href="/areamaps" id="dashExternalLinksTrigger">Start With Area Maps</a></p>
							<p>Or, enter a floor title (e.g. Bostock) and let the system find it for you...</p>
							<p><input type="text" data-provide="typeahead" autocomplete="off" class="form-control areamap-typeahead" id="dashAreaMapSearch" name="areamap_q" placeholder="Enter Building or Floor" /></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<div class="h3">External Messages</div>
							<p><strong>Start here</strong> to manage <em>External Link</em> presented to patrons in lieu of an actual map.</p>
							<p><a class="btn btn-block btn-primary" href="/externallinks" id="dashAreaMapTrigger">Manage External Links</a></p>
							<p><strong>Or</strong> manage <em>Generic Messages</em> which are assigned to External Links.</p>
							<p><a class="btn btn-block btn-info" href="/genericmessages" id="dashGenericMessagesTrigger">Manage Generic Messages</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				
				<div class="col-sm-12">
					<div class="h3">Select a Building &amp; Area Map...</div>
					<div class="panel-group" id="building-accordion" role="tablist" aria-multiselectable="true">
					{{range $k, $areas := .Buildings2}}
						<div class="panel panel-default">
							<div class="panel-heading" id="heading-buiding-{{$k}}">
								<div class="panel-title">
									<i class="fas fa-building"></i>&nbsp;<a role="button" data-toggle="collapse" data-parent="#building-accordion" href="#building-{{$k}}" aria-expanded="false" aria-controls="building-{{$k}}">{{$k}}
									</a>
								</div>
							</div>
							<div id="building-{{$k}}" class="panel-collapse collapse" data-active-building="{{$k}}" role="tabpanel" aria-labelledby="heading-buiding-{{$k}}">
								<ul class="list-group">
									<li class="list-group-item"><i class="fas fa-map"></i>&nbsp;<a href="/locationmaps/{{$k}}">All Floors in {{$k}}</a></li>
									{{range $floor := $areas}}
									<li class="list-group-item"><i class="fas fa-map-marked"></i>&nbsp;<a href="/locationmaps/">{{$floor.Area}}</a></li>
									{{end}}
								</ul>
							</div>
						</div>
					{{end}}
					</div>
				</div>
				
				<div class="col-sm-12">
					<div class="thumbnail">
						<div class="caption">
							<div class="h3">Upload Floorplan</div>
							<p><strong>Use this</strong> when you have a newly created (or updated) floorplan.</p>
							<p><button class="btn btn-block btn-default disabled" id="dashAreaMapTrigger">Upload New/Updated Floorplan</button></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
